#header{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    min-width: 1020px;
    z-index: 6;
    padding: 12px 0;
    position: relative;
    background: #d32323 no-repeat center;
}

body {
  background-color: #fff;
	background: linear-gradient(#ffffff,#d3d8e8);
  font-family: 'Bolton Light', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.container{
	width: auto;
	height: auto;  /* headerتحديد إرتفاع العنصر بنفس إرتفاع ال */
	/*background-color: #0c214e; /*تغيير لون الخلفية*/*/
	background-color: #0c214e; /*تغيير لون الخلفية*/
	margin: 0 auto;
	overflow: auto;
}



#logo{
	display: block;
    width: 180px;
	height: 44px;
	background-image: url(../img/1.png);
	background-position: 0 0;
	margin-top: 0px;
    color:#fff; /*تغيير اللون للأبيض*/
	font-family: Arial; /*تغيير نوع الخط*/
	font-size: 25px; /*تغيير حجم الخط*/
	overflow: hidden;
}

#container-fluid{
	width: 100%;
	min-width: 980px;
	height: 600px;
	background-color: #fff;
	background: linear-gradient(#ffffff,#d3d8e8);
}

#footer{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.float-left{
    float: left;

}
.float-right{
    float: right;

}

.login-box{
	width: 120px;
	height: 82px;
	/*margin-top: 13px;*/
	padding-top: 13px;
	float:left;
	margin-left: 15px;
	box-sizing: border-box;
}
