<html>
    <head>
        <meta charset="utf-8">
        <title>tejruba</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
	      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <!-- <link rel="stylesheet" href="css/debug.css"> -->
    </head>
    <body>

      <!-- Start .hero -->
      <section class="hero is-hidden-tablet is-fullheight">
            <div class="container">
              <!-- logo section -->
                <div class="column center">
                  <figure class="image center">
                    <img src="images/logo.png">
                  </figure>
                </div>
              <!-- ./logo -->

              <!-- input section -->
              <div class="column">

                <div class="field">
                  <div class="control has-icons-right">
                    <input class="input" type="email" placeholder=" ادخل بريدك الإلكتروني" autofocus>
                    <span class="icon is-small is-right has-text-info">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <div class="control has-icons-right">
                    <input class="input has-text-info" type="password" placeholder="ادخل كلمة السر">
                    <span class="icon is-small is-right has-text-info">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
                <!-- submit -->
                <div class="field">
                  <div class="control">
                    <button class="button is-info is-medium">تسجيل الدخول</button>
                  </div>
                </div>
                <!-- ./submit -->
              </div>
              <!-- ./input -->

              <!-- social - icons section -->
              <div class="column center flex-icons">
                <div>
                  <a href="#">
                    <span class="icon has-text-info" style="border-color: #1DA1F2;">
                      <li class="fab fa-twitter"></li>
                    </span>
                  </a>
                </div>

                <div>
                  <a href="#">
                    <span class="icon has-text-danger" style="border-color: #D95232;">
                      <li class="fab fa-google"></li>
                    </span>
                  </a>
                </div>

                <div>
                  <a href="#">
                    <span class="icon">
                      <li class="fab fa-facebook-f"></li>
                    </span>
                  </a>
                </div>
              </div>
              <!-- ./social - icons -->

            </div>
      </section>
      <!-- ./hero -->

        <script src="js.js"></script>
    </body>
</html>
